Source: elantech-marble-dkms
Section: kernel
Priority: optional
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 8.0.0), dkms
Standards-Version: 3.9.3
#Vcs-Git:

Package: elantech-marble-dkms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dkms, linux-headers-686-pae | linux-headers-amd64
Description: Elantech module with lookup fix
 This is the driver for the Elantech touchpad in MarblePoint.
 For more information see:
 https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1369684
